@font-face {
	font-family: fontSigaBem;
	src: url("../fonts/coolvetica rg.ttf");
}
  
nav{
	font-family: fontSigaBem;
	letter-spacing: 1px;
}

.bg-sigabem{
	background-color: #28D8A1 !important;
}

.btn-outline-sigabem{
	border-color: #28D8A1;
	color: #28D8A1;
}

.btn-outline-sigabem:hover{
	background-color: #28D8A1;
	border-color: #28D8A1;
}

.form-control-sigabem{
	border-color: #28D8A1;
}

.input-group{
	margin: 10px;
	width: auto;
}

.filtersWrapp{
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	justify-content: space-evenly;
	align-items: flex-end;
	padding: 20px 30px;
}

.filtersWrapp div, .filtersWrapp button{
	width: 250px;
}


.historicNotificationsWrapp{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.notificationCard{
	margin: 10px;
}

.notificationImageWrapper{
	height: 200px; 
	overflow: hidden; 
	display: flex; 
	align-items: center; 
	justify-content: center;
}

.notificationImage{
	height: 100%; 
}


.filtersHistoricoWrapp{
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	justify-content: space-evenly;
	align-items: flex-end;
	padding: 20px 30px;
}