<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Impotação do axios e serviço -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script th:src="@{/js/services/apiSigabem.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/sigabem.css}" />
    <link type="text/css" th:href="@{/css/login/sigabemLogin.css}" />

    <title>SigaBem</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-sigabem justify-content-start">
      <a class="navbar-brand text-light" href="#">SigaBem</a>
    </nav>

    <div class="container-fluid containerForm">
      <div class="row justify-content-center">
        <form class="formLogin">
          <img
            th:src="@{/images/icon.png}"
            class="rounded mx-auto d-block icon"
            style="width: 100px;"
            alt="Logotipo sigabem"
          />
          <div
            class="alert alert-danger alert-dismissible fade d-none"
            id="errorResponse"
            role="alert"
          >
            Senha e confirmação não conferem
            <button
              type="button"
              class="close"
              id="errorResponseClose"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <h2>Formulário para mudança de senha</h2>
          <form action="">
            <div class="form-group">
              <label for="impPassword">Senha</label>
              <input
                type="password"
                class="form-control"
                id="impPassword"
                placeholder="Senha"
              />
              <small class="form-text text-muted">Digite a senha.</small>
            </div>

            <div class="form-group">
              <label for="impConfirmPassword">Confirmar Senha</label>
              <input
                type="password"
                class="form-control"
                id="impConfirmPassword"
                placeholder="Digite a confirmação de senha"
              />
              <small class="form-text text-muted">Digite a confirmação de senha.</small>
            </div>

            <button
              type="button"
              class="btn bg-sigabem text-light btn-LogSigabem"
              id="btnLogin"
              onclick="setPassword()"
            >
              Mudar Senha
            </button>
          </form>
        </form>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/jquery.maskedinput-1.1.4.pack.js}"></script>

    <!-- Optional JavaScript -->
    <script th:src="@{/js/changepassword/changepassword.js}"></script>
  </body>
</html>
