<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sigabem - Formulário de envio de notificações</title>
		
		<!-- Header -->
		<div th:replace="fragments/header :: header"></div>
	</head>
    
    <body>
    
    	<!-- NavBar -->
	    <div th:replace="fragments/header :: header-navbar-sigabem"></div>
    
    	<!-- Content -->
    	<div class="container-fluid">
    		
   			<div align="center" th:if="${response}">
	        	<div class="alert alert-success">
	           		<p th:utext=${response}></p>
	        	</div>
	        </div>

	        <div>
	        	<h2>Notificações</h2>
	        </div>
	        <form method="post" th:object="${notification}" th:action="@{/notificacao/enviar}" >
	            <div class="form-group">
	            	<label for="title"> Título: </label>
	            	<input class="form-control" type="text" name="title" required="required" th:field="*{title}"/>
	            </div>
	            <div class="form-group">
	            	<label for="contents"> Mensagem: </label>
	            	<input class="form-control" type="text" name="contents" required="required" th:field="*{contents}"/>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-success">Enviar</button>
	            </div>
	        </form>
		</div>
    </body>
</html>