<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script th:src="@{/js/services/apiSigabem.js}"></script>
    <script th:src="@{/js/services/apiSigabemMaps.js}"></script>
    <script th:src="@{/js/services/apiNominatim.js}"></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    />

    <script th:src="@{/js/checkToken.js}"></script>
    <link rel="stylesheet" th:href="@{/css/sigabem.css}" />
    <link rel="stylesheet" th:href="@{/css/map/map.css}" />
    <link rel="stylesheet" th:href="@{/css/sidenav.css}" />

    <title>SigaBem Map</title>
  </head>
  <body>
    <!-- SideNav Bar -->
    <div th:replace="fragments/header :: body-sidenav"></div>

    <div id="main">
      <nav class="navbar navbar-dark bg-sigabem justify-content-between">
        <span
          class="navbar-toggler-icon"
          id="toggle-icon"
          onclick="openNav()"
        ></span>
        <a class="navbar-brand text-light m-auto" href="#"> SigaBem</a>
        <a
          href="http://www.granderecife.pe.gov.br/sitegrctm/"
          class="text-light"
          >GRANDE RECIFE</a
        >
      </nav>

      <div class="container-fluid" id="app">
        <div class="input-group m-3">
          <input
            type="text"
            class="form-control form-control-sigabem"
            v-model="pesquisa"
            placeholder="Digite o local desejado"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary btn-outline-sigabem"
              v-on:click="redirecionar()"
              type="button"
            >
              Buscar
            </button>
          </div>
        </div>

        <div class="filterOptions">
          <div class="filterOption">
            <h5>Faixa étaria</h5>
            <div class="optionAge option">
              <input
                type="number"
                name="min"
                v-bind:min="minAge"
                v-bind:max="upperAge"
                v-model="lowerAge"
              />
              <p>até</p>
              <input
                type="number"
                name="quantity"
                V-bind:min="lowerAge"
                v-bind:max="maxAge"
                v-model="upperAge"
              />
            </div>
          </div>
          <div class="filterOption">
            <h5>Sexo</h5>
            <div class="optionSex option">
              <input type="checkbox" id="checkM" value="M" v-model="sexos" />
              <label for="checkM">Masculino</label>
              <input type="checkbox" id="checkF" value="F" v-model="sexos" />
              <label for="checkF">Feminino</label>
            </div>
          </div>
          <div class="filterOption">
            <div class="dropdown show">
              <a
                class="btn dropdown-toggle"
                href="#"
                role="button"
                id="dropdownBairros"
                data-toggle="dropdown"
                aria-haspopup="false"
                aria-expanded="false"
              >
                <h5 class="textDrop">Bairros</h5>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownBairros">
                <div class="optionBairro">
                  <div class="bairros">
                    <input
                      type="checkbox"
                      id="todosSelect"
                      v-model="marcarTodos"
                    />
                    <label for="todosSelect" style="color: brown;"
                      >SELECIONAR TODOS</label
                    >
                  </div>
                </div>
                <div
                  class="optionBairro"
                  v-for="bairro in bairros"
                  v-bind:key="bairro"
                >
                  <div class="bairros">
                    <input
                      type="checkbox"
                      v-bind:id="bairro + 'select'"
                      v-bind:value="bairro"
                      v-model="bairrosSelect"
                    />
                    <label v-bind:for="bairro + 'select'">{{bairro}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="filterOption">
            <div class="dropdown show">
              <a
                class="btn dropdown-toggle"
                href="#"
                role="button"
                id="dropdownDeficits"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <h5 class="textDrop">Deficiencia</h5>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownDeficits">
                <div
                  class="optionDefict"
                  v-for="deficit in deficits"
                  v-bind:key="deficit"
                >
                  <div class="deficits" v-bind:class="deficientsIcons[deficit]">
                    <input
                      type="checkbox"
                      v-bind:id="deficit + 'select'"
                      v-bind:value="deficit"
                      v-model="deficitsSelect"
                    />
                    <label v-bind:for="deficit + 'select'">{{deficit}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="filterOption">
            <button
              type="button"
              v-bind:disabled="loading"
              v-on:click="filtrarPCDs()"
              class="btn btn-success"
            >
              Filtrar
            </button>
          </div>
        </div>

        <div class="grade">
          <div class="containerMap" :class="{marginMap: estimativas.length}">
            <div>
              <div
                class="spinner-border text-success loading"
                :style="{ visibility : (loading ? 'visible' : 'hidden')}"
                role="status"
              ></div>
              <div id="mapid"></div>
            </div>
          </div>
          <transition name="fade">
            <div v-if="estimativas.length" class="list-group estimativas">
              <a
                href="#"
                class="list-group-item list-group-item-action flex-column align-items-start linha-item-close"
                v-on:click="estimativas = []"
              >
                <h5 class="mb-1">Fechar</h5>
              </a>
              <a
                v-for="estimativa in estimativas"
                href="#"
                class="list-group-item list-group-item-action flex-column align-items-start linha-item"
              >
                <h5 class="mb-1">{{estimativa.nome}}</h5>
                <small>{{estimativa.chegada}}</small>
              </a>
            </div>
          </transition>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS, then axios, then vue -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <!-- Optional JavaScript -->
    <script th:src="@{/js/Navside.js}"></script>
    <script th:src="@{/js/map/map.js}"></script>
  </body>
</html>
